//Colors
$black:#000000;
$white:#ffffff;
$grey-light: #ededed;
$blue: #0077B5;
$blue-light: #00A0DC;
$blue-dark: #0766be;
$red: rgb(255, 0, 0);
$red-light: rgb(250, 100, 100);
$red-dark: rgb(150, 0, 0);
$grey: rgb(120, 100, 100);

//text
.bold{
    font-weight: bold;
}

.text-xl{
    font-size: 35px;
}

.text-l{
    font-size: 25px;
}

.text-m{
    font-size: 20px;
}

.text-s{
    font-size:15px
}

.text-black{
    color: $black;
}
.text-white{
    color: $white;
}
.text-blue{
    color: $blue;
}

p{
    margin: 0;
    padding:0; 
}


//BG
.blue-bg{
    background-color: $blue;
}

.black-bg{
    background-color: $black;
}

.white-bg{
    background-color: $white;
}

//container
.center-all{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.center-col{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.form-label-container{
    width: 360px;
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
}

.flex-row{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.flex-col{
    display: flex;
    flex-direction: column;
    align-items: start;
}


//components
.modal{
    z-index: 10;
    display:flex;
    position: fixed;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.65);
}

.searchbar{
    background-color: $grey-light;
    color: $black;
    font-size: 15px;
    width: 300px;
    height: 40px;
    border-radius: 5px;
    padding-left:10px;
    margin-right: 200px;
    border:0.5px solid rgba(0, 0, 0, 0.50);
}

.navbar-logo{
    scale: 250%;
    fill: $blue;
    margin: 30px
}

.navbar-items{
    width: 15%;
    height: 55px;
    // border:1px solid rgba(0, 0, 0, 0.50);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 25px;
    .navbar-icon{
        width:25px;
        height: 25px;
        // border-radius: 100%;
        fill: $grey;
    }
    .navbar-picture{
        width:25px;
        height: 25px;
        border-radius: 100%;
        border :black solid 1px;
    }
    .item-label{
        color: $grey;
        font-size: 12px;
        margin: 3px;
    }
    &:hover{
        .navbar-icon{
            fill: $black;
        }
        .item-label{
            color: $black;
        }
    }
}

.navbar-items-active{
    width: 15%;
    min-height: 55px;
    // border:1px solid rgba(0, 0, 0, 0.50);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 25px;
    .navbar-picture{
        width:25px;
        height: 25px;
        border-radius: 100%;
        border :black solid 1.75px;
    }
    .navbar-icon{
        scale: 170%;
        fill: $black;
    }
    .item-label{
        width: 100%;
        color: $black;
        font-size: 12px;
        margin: 5px;
        border-bottom: 4px solid $black;
        font-weight: bold;
    }
}

.navbar-menu-container{
    height: 65px;
    width: 600px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}

.logo{
    scale: 50%;
    margin:10px;
    padding: 0px;
}

.a{
    padding-left: 5px;
}

.navbar{
    min-height: 65px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 5px 15px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.form{
    overflow-y: auto;
    background-color: $white;
    margin-bottom:30px;
    height: 450px;
    min-width:400px;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    padding: 20px;
    justify-content: start;
    align-items: center;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.dropdown{
    width: 150px;
    height:150px;
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 80px;
    background-color: $white;
    border:1px solid rgba(0, 0, 0, 0.50);
    border-radius: 5%;
}


.text-input{
    color: $black;
    font-size: 15px;
    width: 350px;
    height: 30px;
    border-radius: 5px;
    padding-left:10px;
    margin-bottom: 20px;
    border:1px solid rgba(0, 0, 0, 0.50);
}

.profile{
    padding: 30px;
    width: 50%;
    margin:20px;
    height: fit-content;
    border: black solid 1px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    border-radius: 15px;
    .profile-picture{
        width: 150px;
        height: 150px;
        border-radius: 100%;
        border: white 1px solid
    }
}



//Size
.fullscreen{
    width: 100vw;
    min-height: 100vh;
}

//Width
.w-screen{
    min-width: 100vw;
}

.w-full{
    width: 100%;
}

.w-fit{
    width: fit-content;
}

.w-350{
    width: 350px;
}

//Height
.h-screen{
    min-height: 100vh;
}

//spacing
.space-between{
    justify-content: space-between;
}

.space-around{
    justify-content: space-around;
}

.space-evenly{
    justify-content: space-evenly;
}


//Button
.add-button{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 35px;
    height:35px;
    padding: 10px;
    background-color: $white;
    border-radius: 100%;
    .plus-logo{
        fill: black;
        scale: 150%;
    }
    &:hover{
        background-color: $grey-light;
    }
    &:active{
        background-color: $grey;
        .plus-logo{
            fill: wheat;
            scale: 150%;
        }
    }
}

.blue-button{
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    font-size: 20px;
    width: 300px;
    height: 50px;
    border-radius: 35px;
    background-color: $blue;

    &:hover{
        background-color: $blue-light;
    }
    &:active{
        background-color: $blue-dark;
    }
}

.blue-button-smaller{
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    font-size: 20px;
    width: 100px;
    height: 40px;
    border-radius: 35px;
    background-color: $blue;

    &:hover{
        background-color: $blue-light;
    }
    &:active{
        background-color: $blue-dark;
    }
}

.red-button-smaller{
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    font-size: 20px;
    width: 100px;
    height: 40px;
    border-radius: 35px;
    background-color: $red;

    &:hover{
        background-color: $red-light;
    }
    &:active{
        background-color: $red-dark;
    }
}


//padding
.p-5{
    padding: 5px;
}

//margins
.mb-10{
    margin-bottom: 10px;
}

.mb-20{
    margin-bottom: 20px;
}

.mb-30{
    margin-bottom: 30px;
}

.mh-20{
    margin-left: 20px;
    margin-right: 20px;
}

.mv-30{
    margin-top: 30px;
    margin-bottom: 30px;
}

.mv-20{
    margin-top: 20px;
    margin-bottom: 20px;
}

.mv-10{
    margin-top: 10px;
    margin-bottom: 10px;
}


//display
.invisible{
    display:none
}

//borders
.border-sering-pake{
    border: 1px solid $grey;
    border-radius: 5px;
    padding: 5px;
}