//Colors
$black:#000000;
$white:#ffffff;
$blue: #0077B5;
$blue-light: #00A0DC;
$blue-dark: #0766be;
$red: rgb(255, 0, 0);
$red-light: rgb(250, 100, 100);
$red-dark: rgb(150, 0, 0);
$grey: #388080;
$grey-dark: rgb(120, 100, 100);
$grey-light: #ededed;
$beige: #f3f2ef;

.page{
    min-height: 100vh;
    padding-bottom: 60px ;
}

//text
.text-center{
    text-align: justify;
}

.bold{
    font-weight: bold;
}

.text-xl{
    font-size: 35px;
}

.text-l{
    font-size: 25px;
}

.text-m{
    font-size: 20px;
}

.text-s{
    font-size:15px
}

.text-xs{
    font-size:10px
}

.text-black{
    color: $black;
}
.text-white{
    color: $white;
}
.text-blue{
    color: $blue;
}
.text-red{
    color: $red;
}
.text-grey{
    color: $grey;
}

p{
    margin: 0;
    padding:0; 
}


//BG
.blue-bg{
    background-color: $blue;
}

.black-bg{
    background-color: $black;
}

.white-bg{
    background-color: $white;
}

.beige-bg{
    background-color: $beige;
}

//container
.center-all{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.center-col{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.center-row{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.form-label-container{
    width: 360px;
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
}

.flex-row{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.flex-col{
    display: flex;
    flex-direction: column;
    align-items: start;
}


//components
.EducationOrExperience{
    width: 100%;
    margin-bottom: 20px;
    display: flex;
    flex-direction: row;
    align-items: start;
    border-radius: 10px;
    // &:hover{
    //     background-color: $grey-light;
    // }
}

.modal{
    top: 0;
    left: 0;
    z-index: 10;
    display:flex;
    position: fixed;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.65);
}

.searchbar{
    background-color: $grey-light;
    color: $black;
    font-size: 15px;
    width: 300px;
    height: 40px;
    border-radius: 5px;
    padding-left:10px;
    margin-right: 200px;
    border:0.5px solid rgba(0, 0, 0, 0.50);
}

.navbar-logo{
    scale: 250%;
    fill: $blue;
    margin: 30px
}

.navbar-items{
    width: 15%;
    height: 55px;
    // border:1px solid rgba(0, 0, 0, 0.50);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 25px;
    .navbar-icon{
        width:25px;
        height: 25px;
        // border-radius: 100%;
        fill: $grey-dark;
    }
    .navbar-picture{
        width:25px;
        height: 25px;
        border-radius: 100%;
        border :black solid 1px;
    }
    .item-label{
        color: $grey-dark;
        font-size: 12px;
        margin: 3px;
    }
    &:hover{
        .navbar-icon{
            fill: $black;
        }
        .item-label{
            color: $black;
        }
    }
}

.homepage-picture{
    width:50px;
    height: 50px;
    border-radius: 100%;
}

.navbar-items-active{
    width: 15%;
    min-height: 55px;
    // border:1px solid rgba(0, 0, 0, 0.50);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 25px;
    .navbar-picture{
        width:25px;
        height: 25px;
        border-radius: 100%;
        border :black solid 1.75px;
    }
    .navbar-icon{
        scale: 170%;
        fill: $black;
    }
    .item-label{
        width: 100%;
        color: $black;
        font-size: 12px;
        margin: 5px;
        border-bottom: 4px solid $black;
        font-weight: bold;
    }
}

.icon{
    scale: 170%;
    fill: $grey-dark;
    &:hover{
        fill: $black;
    }
}

.icon-liked{
    scale: 170%;
    fill: $blue-light;
    &:hover{
        fill: $blue-dark;
    }
}

.navbar-menu-container{
    height: 65px;
    width: 600px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}

.logo{
    scale: 50%;
    margin:6px;
    padding: 0px;
}

.a{
    padding-left: 5px;
}

.navbar{
    min-height: 65px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 5px 15px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.footer{
    min-height: 105px;
    // box-shadow: rgba(0, 0, 0, 0.25) 0px 5px 15px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    bottom: 0%;
}

.form{
    overflow-y: auto;
    background-color: $white;
    margin-bottom:30px;
    height: 450px;
    min-width:400px;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    padding: 20px;
    justify-content: start;
    align-items: center;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.small-form{
    overflow-y: auto;
    background-color: $white;
    margin-bottom:30px;
    min-height: 250px;
    min-width:400px;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    padding: 20px;
    justify-content: start;
    align-items: center;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.dropdown{
    width: 150px;
    height:150px;
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 80px;
    background-color: $white;
    border:1px solid rgba(0, 0, 0, 0.50);
    border-radius: 5%;
}


.text-input{
    color: $black;
    font-size: 15px;
    width: 350px;
    height: 30px;
    border-radius: 5px;
    padding-left:10px;
    margin-bottom: 20px;
    border:1px solid rgba(0, 0, 0, 0.50);
}

.profile{
    padding: 30px;
    width: 750px;
    margin:20px;
    height: fit-content;
    // border: black solid 1px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    border-radius: 15px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 5px 15px;
}

.main-profile{
    width: 810px;
    margin:20px;
    height: fit-content;
    // border: black solid 1px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    border-radius: 15px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 5px 15px;
}

.main-container{
    padding: 30px;
    width: 600px;
    margin:20px;
    height: fit-content;
    // border: black solid 1px;
    // display: flex;
    // flex-direction: column;
    // justify-content: center;
    // align-items: start;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 5px 15px;
    border-radius: 15px;
}

.profile-picture{
    width: 160px;
    height: 160px;
    border-radius: 100%;
    border: $white 2px solid
}

.profile-picture-small{
    width: 70px;
    height: 70px;
    border-radius: 100%;
    border: $white 1px solid
}

.post-picture{
    width: 300px;
    margin-bottom: 20px;
    // border: solid 1px black
}

.post{
    width: 100%;
    padding: 15px;
    margin: 10px;
}

//Size
.fullscreen{
    width: 100vw;
    min-height: 100vh;
}

//Width
.w-screen{
    min-width: 100vw;
}

.w-full{
    width: 100%;
}

.w-80{
    width: 80%;
}

.w-fit{
    width: fit-content;
}

.w-350{
    width: 350px;
}

//Height
.h-screen{
    min-height: 100vh;
}

.h-65{
    min-height: 65px;
}

//spacing
.space-between{
    justify-content: space-between;
}

.space-around{
    justify-content: space-around;
}

.space-evenly{
    justify-content: space-evenly;
}


//Button
.add-button{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 35px;
    height:35px;
    padding: 10px;
    background-color: $white;
    border-radius: 100%;
    .plus-logo{
        fill: black;
        scale: 150%;
    }
    &:hover{
        background-color: $grey-light;
    }
    &:active{
        background-color: $grey-dark;
        .plus-logo{
            fill: wheat;
            scale: 150%;
        }
    }
}

.picture-btn{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 10px;
    width: 25px;
    height:25px;
    padding: 10px;
    background-color: $white;
    border-radius: 100%;
    .logo{
        fill: $black;
        scale: 200%;
    }
    &:hover{
        background-color: $beige;
    }
    &:active{
        background-color: $grey;
        .logo{
            fill: wheat;
            scale: 200%;
        }
    }
}

.blue-button{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    font-size: 20px;
    width: 300px;
    height: 50px;
    border-radius: 35px;
    background-color: $blue;

    &:hover{
        background-color: $blue-light;
    }
    &:active{
        background-color: $blue-dark;
    }
}

.white-button{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    font-size: 20px;
    min-width: 300px;
    height: 50px;
    border-radius: 35px;
    background-color: $white;
    border: 1px solid black;
    
    &:hover{
        color: $blue-light;
    }
    &:active{
        color: $blue-dark;
    }
}

.blue-button-smaller{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    font-size: 20px;
    min-width: 150px;
    height: 40px;
    border-radius: 35px;
    background-color: $blue;

    &:hover{
        background-color: $blue-light;
    }
    &:active{
        background-color: $blue-dark;
    }
}

.grey-button-smaller{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    font-size: 20px;
    min-width: 150px;
    height: 40px;
    border-radius: 35px;
    background-color: $grey;
}

.red-button-smaller{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    font-size: 20px;
    min-width: 150px;
    height: 40px;
    border-radius: 35px;
    background-color: $red;

    &:hover{
        background-color: $red-light;
    }
    &:active{
        background-color: $red-dark;
    }
}

.white-button-smaller{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    font-size: 20px;
    min-width: 150px;
    height: 40px;
    border-radius: 35px;
    border: 1px solid black;
    color: #000000;
    background-color: $white;
    
    &:hover{
        color: $blue-light;
    }
    &:active{
        color: $blue-dark;
    }
}


//padding
.p-5{
    padding: 5px;
}
.p-10{
    padding: 10px;
}

.p-20{
    padding: 20px;
}

.ph-10{
    padding-left: 10px;
    padding-right: 10px;
}

.ph-30{
    padding-left: 30px;
    padding-right: 30px;
}

.pv-5{
    padding-top: 5px;
    padding-bottom: 5px;
}
.pv-20{
    padding-top: 20px;
    padding-bottom: 20px;
}


//margins
.m-20{
    margin: 20px;
}

.mb-10{
    margin-bottom: 10px;
}

.mb-5{
    margin-bottom: 5px;
}

.mb-20{
    margin-bottom: 20px;
}

.mb-30{
    margin-bottom: 30px;
}

.mh-10{
    margin-left: 10px;
    margin-right: 10px;
}

.mh-15{
    margin-left: 15px;
    margin-right: 15px;
}

.mh-20{
    margin-left: 20px;
    margin-right: 20px;
}

.mh-30{
    margin-left: 30px;
    margin-right: 30px;
}

.mv-30{
    margin-top: 30px;
    margin-bottom: 30px;
}

.mv-20{
    margin-top: 20px;
    margin-bottom: 20px;
}

.mv-10{
    margin-top: 10px;
    margin-bottom: 10px;
}



//display
.invisible{
    display:none
}

//borders
.border-sering-pake{
    border: 1px solid $grey-dark;
    border-radius: 5px;
}

//position
.abs{
    position: absolute;
}